*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.bd{
    border:solid red 2px;
}
.flex-container{
    display: flex;
}
.flex-center{
    justify-content: center;
    align-items: center;
}
.flex-center-main{
    justify-content: center;
}
.flex-center-cross{
    align-items:center;
}
/* .padding{
    padding: 0 0px 0 270px;
} */
body{
    /* padding: 0 350px 0 270px; */
    /* padding-left: 350px; */
    background-color: 57555A;
    font-family: Arial,sans-serif;
    line-height: 1.428571429;
    font-size: 14px;
}
.flim-container{
    display: flex;
    flex-direction: column;
}
.border{
    margin-top: 5px;
    width: 624px;
    border: solid 0.1px rgb(122, 122, 122);
}
.flim-title{
    margin-top: 20px;
    margin-left: 7px;
}
h2{
    color: rgb(235, 183, 13);
}
.flim-main{
    width: 647px;
    display: flex; 
    flex-wrap: wrap ;
}
.flim-main-chil{
    height: 270px;
    width: 151px;
    margin-left: 7px;
    margin-top: 30px;
    background-color: 1A1A1A;
}
.flim-main-chil img{
    object-fit: cover;
    width: 100%;
    height: 80%;
}

.box-shadow:hover{
    opacity: 0.3;
}
.name-flim{
    display: flex;
    flex-direction: column;
}
.a1{
    margin-top: 10px;
    color: rgb(47, 196, 241);
    text-decoration: none;
    margin-left: 7px;
}
.a-hover:hover{
    color: yellow;
}
.a2{
    color: silver;
    font-size: 11px;
    text-decoration: none;
    margin-left: 7px;
}
.container{
    display: flex;
    flex-direction: column;
}
.flimHotTuan{
    height: 1223px;
    width: 300px;
    margin-top: 37px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: 1A1A1A;
}
.flimHotTuan-chil{
    width: 90%;
    height: 135px;
    margin-bottom: 8px;
    margin-top: 8px;

    display: flex;
    flex-direction: row;
}
.bd-HotTuan{
    width: 100%;
    border: solid 0.1px rgb(122, 122, 122);
}
.flimHotTuan-chil-img{
    width: 40%;
}
.flimHotTuan-chil-img img{
    border: solid 1px silver;
    width: 100%;
    height: 100%;
}
.flimHotTuan-col{
    display: flex;
    flex-direction: column;
    margin: 20px 0 10px 0;  
    align-items: center;
    width: 300px;
}
.name-flim-HotTuan{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}
.hover1{
    color: rgb(47, 196, 241);
    text-decoration: none;
    margin-left: 7px;
}
.end{
    margin-top: 50px;
    background-color: 1A1A1A;
    height: 266px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.yellow-nav{
    height: 2px;
    width: 100%;
    background-color: rgb(199, 199, 6);
}
.bigEnd{
    /* height: 100%;
    width: 550px; */

    display: flex;
    flex-direction: row;
}
.flex-centers{
    margin-left: 70px;
    margin-top: 30px;
}

h3{
    color: rgb(47, 196, 241);
    margin-bottom: 30px;
}
.end-item{
    display: flex;
    flex-direction: column;
}
.end-item a{
    color: rgb(223, 221, 221);
    margin-bottom: 8px;
    text-decoration: none;
    font-size: 14px;
}
.end-item a:hover{
    color: yellow;
}